# API configuration
API_PORT=3000
API_PREFIX=/api/v1

# Swagger API documentation
SWAGGER_ENABLE=1

# Database ORM configuration
POSTGRES_DB="ThisMustBeChanged"
POSTGRES_PORT="ThisMustBeChanged"
POSTGRES_USER="ThisMustBeChanged"
POSTGRES_PASS="ThisMustBeChanged"
POSTGRES_URL="ThisMustBeChangedOnDockerComposeContainerName"
POSTGRES_DEV_URL="localhost"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASS}@${POSTGRES_DEV_URL}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# Discord Bot Token
DISCORD_BOT_TOKEN="ThisMustBeChanged.And.ItsUgly"
NODE_ENV="development"

# JWT configuration
JWT_SECRET="ThisMustBeChanged"
JWT_ISSUER="IssuerApplication"

# Access to the health route
HEALTH_TOKEN="ThisMustBeChanged"

# Domain-related configuration
PASSENGERS_ALLOWED=yes
